<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PlayWright">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="ge.tbc.automation.tests.LoanTest">
        <classes>
            <class name="ge.tbc.automation.tests.LoanTest"/>
        </classes>
    </test>
    <test name="ge.tbc.automation.tests.MoneyExchangeTest">
        <classes>
            <class name="ge.tbc.automation.tests.MoneyExchangeTest"/>
        </classes>
    </test>
    <test name="ge.tbc.automation.tests.DepositTest">
        <classes>
            <class name="ge.tbc.automation.tests.DepositTest"/>
        </classes>
    </test>
</suite>